{% extends 'base.html' %}
{% block content%}
<h1>Shopping</h1>
<div class="row">
    {% for obj in shops %}
    <div class="col">
        <div class="card" style="width: 18rem;">
            <a href="/shopping/{{ obj.id }}">
                <img src="{{ obj.image.url }}" class="card-img-top" alt="...">

            </a>

            <div class="card-body">
                <h5 class="card-title">${{ obj.price }}</h5>
                <h6>{{ obj.model }}</h6>
                <p class="card-text"> {{ obj.engine }}</p>

                <a href="#" class="btn btn-primary">Add to Cart</a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}
<ul>